.radio {
    margin-right: 10px;
}

.radio::before {
}


.radio:checked::before {
}

.label {
    margin-bottom: 25px;
}

.options {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}
