.App {
    --header_height: 60px;
    font-family: 'Montserrat', sans-serif;
}

.appContainer {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.hw {
    margin: 20px 0;
}


.hwTitle {
    font-size: 22px;
    font-weight: 600;
    height: 100px;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    padding: 60px 0 10px;
}

.hwFlex{
    display: flex;
    flex-direction: column;
}