.greetingForm {
}

.inputAndButtonContainer {
    display: flex;
    margin: 10px 0;
}

.error {
}

.input {
}

.input:focus {
}

.errorInput {
    width: 372px;
    height: 36px;
    border: 1px solid gray;
    border-radius: 5px;
}

.button {
    width: 78px;
    height: 36px;
    background: #0066CC;
    border: 1px solid #0066CC;
    border-radius: 5px;
    color: #fff;
    opacity: 50%;
    margin: 0 10px;
    font-weight: 600;
}

.button:focus {
    opacity: 100%;
}

.button:active {
    opacity: 100%;
}

.button:disabled {

}

.text {
    color: gray;
}

.greeting {
}
